<template>
    <v-data-table :headers="headers" class="elevation-6"> </v-data-table>
</template>

<script>
export default {
    name: 'DummyTable',
    data() {
        return {
            headers: [
                { text: 'Subject', align: 'left', value: 'subject' },
                { text: 'Message', align: 'center', value: 'message' }
            ]
        };
    }
};
</script>
